@model CanvasAndStage.Models.EventDto

@{
    ViewData["Title"] = "Delete Event";
}

<h2>Are you sure you want to delete "@Model.Name"?</h2>
<p>This action cannot be undone.</p>

<form asp-action="Delete" asp-route-id="@Model.EventId"  method="post">
    <input type="hidden" asp-for="EventId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="List" class="btn btn-secondary">Cancel</a>
</form>
